<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Master Category </title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    <br><br>
    <div class="ui container">
        <h1>UAS JWP</h1>
        <a href="/categories">category</a> . <a href="/books">book</a>
        <br><br><br>
        <div>
            <span style="font-size: 30px;" th:text="${title}"></span>
        </div>
        <br><br>
        <div class="ui grid">
            <div class="six wide column">
                <form class="ui form" action="#" th:action="@{/categories/save}" th:object="${category}" method="post">
                    <input id="id" th:field="*{id}" type="hidden">
                    <div class="field">
                        <label>Book Title</label>
                        <input id="name" th:field="*{name}" type="text">
                    </div>
                    <br>
                    <input class="ui button primary" type="submit" value="Save">
                    <a class="ui button primary" href="/categories">Cancel </a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>